.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 16px;

  @media (max-width: $breakpoint-tablet) {
    padding: 0;
  }
}

.copyright span {
  margin: 0;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
}

.copyright__first {
  display: flex;
  justify-content: space-between;
  width: 457px;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.copyright__second {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  width: 813px;

  @media (max-width: $breakpoint-tablet) {
    position: relative;
    margin-top: 22px;

    &::before {
      content: " ";
      position: absolute;
      width: 100vh;
      height: 1px;
      background-color: #626962;
      opacity: 0.2;
      top: -22px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &::before {
      content: " ";
      position: absolute;
      width: 100vh;
      height: 1px;
      background-color: #626962;
      opacity: 0.2;
      top: -43px;
    }
  }
}
