.feedback {
  position: relative;
  display: flex;
  background-color: $sky;

  &::before {
    content: " ";
    position: absolute;
    top: -60px;
    left: calc(50% - 785px);
    width: 1890px;
    height: 764px;
    background-image: url("../img/feedback-desktop@1x.png");
    background-repeat: no-repeat;

    @media (max-width: $breakpoint-tablet) {
      @include no-outline;
    }
  }
}

.feedback__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 90px 15px 113px 15px;
  width: 71.06%;
  min-width: 1024px;
  max-width: 1200px;

  @media (max-width: $breakpoint-tablet) {
    justify-content: center;
    padding: 81px 87px 104px 92px;
    width: 100%;
    min-width: 770px;
    max-width: 1023px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 30px 15px 41px 15px;
    min-width: 320px;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 570px;

  @media (max-width: $breakpoint-tablet) {
    width: 591px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 290px;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 72px;
    right: 685px;
    width: 511px;
    height: 288px;
    background-image: url("../img/jet-desktop@1x.png");
    background-position: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;

    @media (max-width: $breakpoint-tablet) {
      @include no-outline;
    }
  }
}

.feedback h2 {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $breakpoint-tablet) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 14px;
  }
}

.feedback__text {
  margin: 0;
  margin-bottom: 48px;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 53px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 25px;
  }
}
