.footer {
  position: relative;
  flex-grow: 0;

  &::before {
    content: " ";
    position: absolute;
    height: 1px;
    background-color: #626962;
    opacity: 0.2;
    bottom: 53px;
    left: 0;
    right: 0;

    @media (max-width: $breakpoint-tablet) {
      bottom: 63px;
    }

    @media (max-width: $breakpoint-mobile) {
      bottom: 124px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    &::after {
      content: " ";
      position: absolute;
      height: 1px;
      background-color: #626962;
      opacity: 0.2;
      top: 96px;
      left: 0;
      right: 0;

      @media (max-width: $breakpoint-mobile) {
        top: 260px;
      }
    }
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 12px;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 25px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 47px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .sections input:checked ~ .footer__container::before {
    top: 500px;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    margin-bottom: 36px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 0;
  }
}

.footer__first-part {
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-tablet) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    margin-bottom: 48px;
  }
}

.footer__second-part {
  display: flex;
  justify-content: space-between;
  width: 69.9%;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    justify-content: space-between;
    margin-top: 38px;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }
}

.footer__logo {
  display: flex;
  margin-bottom: 50px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 21px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-left: 15px;
    margin-bottom: 21px;
  }
}

.footer__logo a {
  margin-right: 16px;
}

.footer img {
  width: 216px;
  height: 52px;
}

.footer__block {
  display: none;

  @media (max-width: $breakpoint-tablet) {
    display: flex;
    margin: 0;
    margin-top: -22px;
    font-family: "PT Mono", "Courier New", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1b2d37;
    opacity: 0.5;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.footer__copyright {
  display: flex;
}
