.form {
  margin: 0;
}

.form__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  &:first-child {
    margin-bottom: 31px;
    flex-direction: row;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 32px;
    }

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 21px;
      flex-direction: column;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column-reverse;
  }
}

.form__name {
  margin: 0;
  width: 100%;
  margin-right: 30px;

  @media (max-width: $breakpoint-mobile) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.form__tel {
  margin: 0;
  width: 100%;
}

.form__checkbox {
  margin: 0;
  width: 270px;

  @media (max-width: $breakpoint-tablet) {
    width: 280px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 290px;
  }
}

.form__questions {
  margin: 0;
  width: 100%;
  margin-right: 0;
  margin-bottom: 33px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 33px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 18px;
  }
}

.form textarea {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  width: 100%;
  min-height: 154px;
  resize: none;
  padding-top: 11px;
  padding-left: 17px;
  border: 1px solid transparent;
  background-color: rgba(250, 250, 250, 0.1);
  outline: none;

  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.8;
    border: 1px solid $white;
  }

  @media (max-width: $breakpoint-tablet) {
    min-height: 160px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 11px 18px 17px;
    min-height: 104px;
  }
}

.form textarea::placeholder {
  color: $white;
  opacity: 1;
}

.form input::placeholder {
  color: $white;
  opacity: 1;
}

.form input[type="text"],
.form input[type="tel"] {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 14px 18px 14px;
  border: 1px solid transparent;
  background-color: rgba(250, 250, 250, 0.1);
  outline: none;

  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.8;
    border: 1px solid $white;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 11px 18px 17px;
  }
}

.form label {
  position: relative;
  display: block;
  margin-top: 7px;
  padding: 0 0 0 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
  cursor: pointer;

  @media (max-width: $breakpoint-tablet) {
    margin-top: 9px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 0 0 33px;
  }

  &::before {
    content: " ";
    position: absolute;
    left: 8px;
    top: 1px;
    z-index: 7;

    width: 16px;
    height: 16px;

    border: 1px solid $white;
    background-color: $sky;
    cursor: pointer;

    @media (max-width: $breakpoint-mobile) {
      left: 1px;
      top: 1px;
    }
  }

  &:focus {
    outline: 3px solid #4d90fe;
    outline-offset: 10px;
    outline-style: auto;
  }
}

.form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/check.svg");
  background-position: 1px 1px;
  background-repeat: no-repeat;
  background-size: 12px 11px;
  background-color: $sky;
}

.form__button {
  margin: 0;
  display: block;
  width: 270px;
  padding-top: 14px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-left: 18px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  @media (max-width: $breakpoint-tablet) {
    width: 280px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 290px;
    margin-bottom: 23px;
    padding-bottom: 14px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
