.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  flex: 0 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-right: 15px;
  padding-bottom: 18px;
  padding-left: 15px;

  @media (max-width: $breakpoint-tablet) {
    padding: 21px 25px 23px 25px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 17px 15px 14px 15px;
  }
}

.header nav {
  display: flex;
}

.header__button {
  display: block;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  padding-top: 13px;
  padding-right: 26px;
  padding-bottom: 14px;
  padding-left: 27px;
  margin-left: 50px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.header__logo {
  display: flex;
}

.header__logo a {
  margin-right: 16px;
}

.header__logo img {
  width: 52px;
  height: 52px;

  @media (max-width: $breakpoint-mobile) {
    width: 38px;
    height: 38px;
  }
}

.header__name {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 177px;

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.header__name span {
  font-family: "Roboto", "Courier New", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $grey-two;

  &:first-child {
    margin-top: 3px;
    font-family: "Roboto Condensed", "Courier New", monospace;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: $white;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 0;
    }
  }
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  width: 430px;

  @media (max-width: $breakpoint-tablet) {
    margin-top: -6px;
    width: 84px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: -3px;
    width: 74px;
  }
}

.header__contacts span {
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  margin-left: 37px;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.header__contacts a {
  margin-top: 11px;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: -5px;
    width: 26px;
    height: 26px;

    &:first-child {
      margin-top: -3px;
      width: 28px;
      height: 21px;
    }
  }
}

.header__contacts a:first-child svg {
  position: absolute;
  top: 3px;
  width: 19px;
  height: 14px;

  @media (max-width: $breakpoint-tablet) {
    width: 26px;
    height: 19px;
  }
}

.header__contacts a:last-child svg {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;

  @media (max-width: $breakpoint-tablet) {
    width: 24px;
    height: 24px;
  }
}
