.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 136px;

  &--show {
    display: block;
    z-index: 9;
  }

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.popup__wrap {
  z-index: 6;
  position: relative;
  width: 490px;
  margin: 0 auto;
  padding: 31px 40px 7px 40px;
  background: $sky;
}

.popup__cross {
  position: absolute;
  top: 13px;
  right: 14px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  &::before {
    content: " ";
    position: absolute;
    z-index: 16;
    top: 6px;
    right: 6px;
    width: 17px;
    height: 17px;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
  }
}

.popup p {
  margin: 0;
  margin-bottom: 11px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
  color: $white;
}

.popup span {
  display: block;
  margin: 0;
  margin-bottom: 31px;
  line-height: 22px;
  color: $white;
  width: 382px;
}


.popup form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.popup__inner {
  margin: 0;
  margin-bottom: 31px;
  width: 100%;
}

.popup__question {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
}

.popup textarea {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  width: 100%;
  min-height: 104px;
  resize: none;
  padding-top: 13px;
  padding-left: 24px;
  border: 1px solid transparent;
  background-color: rgba(250, 250, 250, 0.1);
  outline: none;

  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.8;
    border: 1px solid $white;
  }
}


.popup input::placeholder {
  color: $white;
  opacity: 1;
}

.popup textarea::placeholder {
  color: $white;
  opacity: 1;
}

.popup input[type="text"],
.popup input[type="tel"] {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 24px 14px;
  border: 1px solid transparent;
  background-color: rgba(250, 250, 250, 0.1);
  outline: none;

  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.8;
    border: 1px solid $white;
  }
}

.popup label {
  position: relative;
  display: block;
  padding-left: 49px;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
  cursor: pointer;

  &::before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid $white;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.popup input[type="checkbox"]:checked + label::before {
  background-image: url("../img/check.svg");
  background-position: 1px 1px;
  background-repeat: no-repeat;
  background-size: 12px 11px;
}

.popup__button {
  display: block;
  width: 100%;
  margin-bottom: 36px;
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 29px;

  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: transparent;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
