.promo {
  // position: relative;
  // display: flex;
  background-color: $background;
  background-image: url("../img/promo-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-desktop@2x.png");
  }

  @media (max-width: $breakpoint-tablet) {
    background-image: url("../img/promo-tablet@1x.png");


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-tablet@2x.png");
    }
  }

  @media (max-width: $breakpoint-mobile) {
    background-image: url("../img/promo-mobile@1x.png");


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-mobile@2x.png");
    }
  }
}

.promo__container {
  position: relative;
  padding-top: 314px;
  padding-right: 15px;
  padding-bottom: 278px;
  padding-left: 15px;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 188px;
    padding-right: 245px;
    padding-bottom: 166px;
    padding-left: 92px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 286px;
    padding-right: 19px;
    padding-bottom: 70px;
    padding-left: 19px;
  }
}

.promo__title {
  margin: 0;
  margin-left: -5px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;

  @media (max-width: $breakpoint-tablet) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 40px;
    line-height: 47px;
  }
}

.promo__text {
  margin: 0;
  margin-top: 30px;
  margin-left: 93px;
  width: 683px;
  position: relative;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;

  @media (max-width: $breakpoint-tablet) {
    font-size: 18px;
    line-height: 28px;
    margin-left: 46px;
    width: 100%;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    line-height: 25px;
    margin-top: 28px;
    margin-left: 47px;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 68px;
    height: 2px;
    left: -96px;
    top: 15px;
    background-color: $white;

    @media (max-width: $breakpoint-tablet) {
      width: 33px;
      left: -48px;
    }
  }
}

.promo__button {
  display: block;
  margin: 0;
  margin-top: 43px;
  margin-left: 94px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: $sky;
  border-radius: 5px;
  padding-top: 17px;
  padding-right: 28px;
  padding-bottom: 15px;
  padding-left: 28px;
  width: 407px;

  @media (max-width: $breakpoint-tablet) {
    width: 379px;
    margin-left: 46px;
    margin-top: 55px;
  }

  @media (max-width: $breakpoint-mobile) {
    display: none;
  }

  &--second {
    display: none;

    @media (max-width: $breakpoint-mobile) {
      display: block;
      width: 284px;
      margin-top: 40px;
      margin-left: 0;
      padding-top: 18px;
      padding-right: 30px;
      padding-bottom: 17px;
      padding-left: 29px;
    }
  }
}

.promo__scroll {
  position: absolute;
  top: 734px;
  left: -31px;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
  transform: rotate(-90deg);
  background-color: transparent;
  border: none;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}
