.service {
  display: flex;
  background-color: $background;
}

.service__container {
  display: flex;
  flex-direction: column;
  padding: 88px 15px 101px 15px;
  width: 71.06%;
  min-width: 1024px;
  max-width: 1200px;

  @media (max-width: $breakpoint-tablet) {
    padding: 51px 25px 47px 25px;
    width: 100%;
    min-width: 770px;
    max-width: 1023px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 49px 15px 32px 15px;
    min-width: 320px;
  }
}

.service h2 {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $breakpoint-tablet) {
    font-size: 32px;
    line-height: 45px;
    padding-right: 89px;
    margin-bottom: 47px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 28px;
    line-height: 39px;
    padding-right: 0;
    margin-left: 9px;
    margin-bottom: 42px;
  }
}

.service ul {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
}

.service li {
  width: 31.62%;
  display: flex;
  margin-bottom: 30px;

  &:not(:nth-of-type(3n)) {
    margin-right: 2.5%;

    @media (max-width: $breakpoint-tablet) {
      margin-right: 0;
      margin-bottom: 44px;
    }

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 31px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.service a {
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;

  &::before {
    content: " ";
    position: absolute;
    z-index: 4;

    bottom: 26px;
    right: 24px;

    width: 6px;
    height: 9px;

    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    border: 1px solid $sky;
  }

  &:active {
    border: 1px solid $sky;
    opacity: 0.3;
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.service h3 {
  display: block;
  width: 173px;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 44px;
  margin: 0;
  font-family: "Roboto Condensed", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;

  @media (max-width: $breakpoint-tablet) {
    left: 43px;
    top: 40px;
  }

  @media (max-width: $breakpoint-mobile) {
    left: 33px;
    top: 20px;
  }
}

.service li:last-child h3 {
  @media (max-width: $breakpoint-tablet) {
    top: 50px;
  }

  @media (max-width: $breakpoint-mobile) {
    top: 28px;
  }
}

.service span {
  display: block;
  width: 62px;
  height: 62px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  background-color: $sky;
  border: none;

  @media (max-width: $breakpoint-tablet) {
    width: 64px;
  }
}

.service img {
  display: block;
  width: 100%;
  height: auto;
}
