$white: #ffffff;
$grey: #666666;
$grey-two:#788891;
$sky: #00b2ff;
$promo-background: #c4c4c4;
$background: #1b2d37;
$decorate-color: #cdcdcd;
$popup-background: #e5e5e5;
$border-color: #ebebeb;

$breakpoint-tablet: 1023px;
$width-tablet: 768px;
$breakpoint-mobile: 767px;
$mobile-width: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
